/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
  }
  
/* 
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
 */
 @font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/GothamMedium.ttf);
    font-weight: 600;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/Gotham-Bold.otf);
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/Gotham-Black.otf);
    font-weight: 800;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/AvenirLTStd-Medium.otf);
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/GothamLight.ttf);
    font-weight: 300;
    font-style: normal; 
}
  
#root {
    font-family: Gotham;
    color:white;
    font-stretch: ultra-condensed;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    height: 100%;
    display: grid;
    grid-template-areas:
        'left-sidebar main right-sidebar'
        'now-playing now-playing now-playing';
    grid-template-columns: 200px auto 250px; 
    grid-template-rows: auto 90px; 
    font-style: normal;
    

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

::-webkit-scrollbar {
    width: 12px;
    transition: 0.2s ease;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    transition: 0.2s ease;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #4d4d4d; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080; 
    
}

#root__top-container {
    height: 60px;
    display: flex;
    top: 0px;
    margin: 0 -32px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(54, 50, 34, 0.5);
    overflow-x: hidden;
    z-index: 10;
}

#root__top__move-action * {
    width: 32px;
    opacity: 0.7;
    cursor: not-allowed;
    margin-left: 32px;
}

#root__top__move-action + #root__top__move-action {
    transform: rotate(180deg);
    margin-left: 12px;
}

#root__top__user {
    border-radius: 23px;
    height: 28px;
    min-width: 98px;
    background-color:#12110c;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}

#root__top__user__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

#root__top__user__name {
    color: white;
    line-height: 28px;
    font-weight: 700;
}

#root__top__user__drop-icon {
    width: 18px;
    margin-right: 6px;
}

.root__top__user__drop-bar {
    position: fixed;
    top: 55px;
    background-color: #282828;
    width: 196px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px black; 
}

.drop-bar-item {
    padding: 12px;
    color: white;
}

.drop-bar-item span {
    line-height: 16px;
    font-weight: 500;
}

.drop-bar-item:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.drop-bar-item:nth-child(1) > img {
    width: 16px;
}

#root__left-sidebar {
    background-color: #000000;
    grid-area: left-sidebar;
    display: flex;
    flex-direction: column;
    color: #b3b3b3;
}

#root__left-sidebar__logo {
    width: 70%;
    max-width: 131px;
    margin: 24px;
    cursor: pointer;
}

#root__left-sidebar__navigation {
    padding: 0px 8px;
}

#root__left-sidebar__navigation > li {
    padding: 0 16px;
    height: 40px;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.2s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#root__left-sidebar__navigation #current {
    opacity: 1;
    color: white;
    background-color: #282828;
}

#root__left-sidebar__navigation > li:hover {
    opacity: 1;
    color: white
}

 #root__left-sidebar__navigation > li > img {
     width: 18px;
     margin-right: 20px;
     opacity: 0.9;
 }

 #root__left-sidebar__action { 
     margin-top: 24px;
 }

 #root__left-sidebar__action > li {
     padding: 8px 24px;
     height: 24px;
     opacity: 0.9;
     transition: 0.2s linear;
     cursor: pointer;
     display: flex;
     align-items: center;
 }

 #root__left-sidebar__action > li:hover {
     opacity: 1;
     color:white;
 }

 #root__left-sidebar__action > li > img {
    width: 24px;
    margin-right: 16px;
    opacity: 0.9;
}

#root__left-sidebar__dashline {
    position: relative;
    padding: 0 24px;
    height: 9px;
    box-shadow: 0 10px 15px black;
}

#root__left-sidebar__dashline > hr{

    background-color: #282828;
    border: none;
    height: 1px;
}

#root__left-sidebar__my-playlists {
    overflow: auto;
    width: 100%;
    height: 295px;
    padding: 8px 0px;
    z-index: 1;
}

#root__left-sidebar__my-playlists .my-playlist {
    font-family: Gotham, sans-serif;
    line-height: 32px;
    margin-left: 24px;
    font-weight: 500;
    font-size: 14px;
    cursor: default;
}

#root__left-sidebar__my-playlists .my-playlist:hover {
    opacity:1;
    color:white;
}

#root__main-view {
    grid-area: main;
    padding: 24px 32px 0px;
    overflow: overlay;
    background-image: linear-gradient(#403a26 0%, #332f21 3%, #121212 15%);
    background-attachment: local;
    z-index: 1;
}
#root__main-view::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 1); 
}
#root__main-view__currently-playing {
    margin-top: 60px;
    margin-bottom: 36px
}

#root__main-view__currently-playing .greeting {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

#root__main-view__currently-playing__playlists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    margin-top: 16px;
}

#root__main-view__currently-playing__playlists > .current-playlist {
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: #32312e;
    position: relative;
    transition: .3s ease
}

/* #root__main-view__currently-playing__playlists > .current-playlist:hover {
    filter:brightness(150%)
} */


#root__main-view__currently-playing__playlists > .current-playlist > img {
    width: 80px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > span {
    font-size: 16px;
    font-weight: 600;  
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now {
    margin-left: 8px;
    height: 40px;
    opacity: 0;
    transition: opacity 300ms;
    z-index: 1;
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now:hover, .playing:hover {
    transform: scale(1.05);
}
#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now-shadow {
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    position: absolute;
    right: 16px;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 300ms;

}

.playing {
    right: 15px;
    height: 40px;
    opacity: 0;
    position: absolute;
}
.playing-shadow {
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    position: absolute;
    right: 16px;
    border-radius: 50px;
    opacity: 0;

}


.root__main-view__recently-playing > .introduction {
    height: 65.6px;
}

.root__main-view__recently-playing > .introduction > .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    color: white;
}

.root__main-view__recently-playing > .introduction > .description  {
    font-size: 14px;
    font-weight:600;
    color: #afafaf;
    display: block;
}

.root__main-view__recently-playing > .introduction > .description > a {
    text-decoration: none;
    font-size: 12px;
    color: #afafaf;
    display: block;
    float: right;
    text-transform: uppercase;
}

.root__main-view__recently-playing > .introduction > .title:hover, .root__main-view__recently-playing > .introduction > .description > a:hover {
    text-decoration: underline;
}

.playlists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.playlists > .playlist {
    padding: 16px;
    background-color: #181818;
    cursor: pointer;
    height: 238.55px
}

.playlists > .playlist > img {
    width: 160px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.playlists > .playlist > .playlist__description > .playlist__description__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.playlists > .playlist > .playlist__description > .playlist__description__artist {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
    display: block;
    color: #afafaf;
}


#root__right-sidebar {
    grid-area: right-sidebar;
    background-color: #12110c;
    padding: 16px;
}

#root__right-sidebar__friend-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#root__right-sidebar__friend-activity > span {
   font-size: 15px;
}

#root__right-sidebar__users {
    margin-top: 48px;
}

.root__right-sidebar__user {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.root__right-sidebar__user > img {
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.root__right-sidebar__user__user-content {
    color: #afafaf;
    width: 100%;
}

.root__right-sidebar__user__user-content > .user-name-and-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.root__right-sidebar__user__user-content > .user-name-and-activity > .user-name {
    font-size: 13px;
    line-height: 24px;
}



.root__right-sidebar__user__user-content > .user-name-and-activity > .user-activity > img {
    width: 12px;
}

.root__right-sidebar__user__user-content > .user-music, .root__right-sidebar__user__user-content > .user-name-and-activity > .user-activity {
    font-size: 11px;
    font-weight: 500;  
}

.root__right-sidebar__user__user-content > .user-music > .user-music__song > img {
    width: 4px;
    margin: 2px;
}

.root__right-sidebar__user__user-content > .user-music > .user-music__owner > img {
    width: 16px;
    position: relative;
    top: 3px;
    margin-right: 2px;
    color: #f01919;
}   

#root__now-playing {
    background-color: #181818;
    grid-area: now-playing;
    padding: 0 24px;
    display: flex;
    align-items: center;
}


#root__now-playing__song {
    display: flex;
    width: 30%;
    align-items: center;
}

#root__now-playing__song__img {
    width: 56px;
}

#root__now-playing__song__info {
    margin: 0 14px;
    font-weight: 500;    
    max-width: 300px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

#root__now-playing__song__info__name {
    line-height: 16px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

#root__now-playing__song__info__artist {
    font-size: 11px;
    color: #afafaf;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

#root__now-playing__song__favorite {
    width: 14px;
    margin: 8px;
}

#root__now-playing__song__overlay {
    width: 16px;
    margin: 8px;
}

#root__now-playing__player-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#root__now-playing__player-control__playback-bar__range-slider {
    background: #535353;
    border-radius: 8px;
    height: 4px;
    width: 501.7px;
    outline: none;
    transition: 450ms ease-in;
    -webkit-appearance: none;
    margin: 0 10px;
}

#root__now-playing__player-control__playback-bar__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
  }

#root__now-playing__player-control__playback-bar {
    font-size: 11px;
    font-weight: 400;
    color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
}


#root__now-playing__player-control__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative
}
#root__now-playing__player-control__buttons > img {
    margin: 0 12px;
}

.player-control-play-pause {
    width: 32px;
    transition: 0.1s ease;
}
.player-control-play-pause:hover {
    transform:scale(1.1)
}

.player-control-prev-next {
    width: 10px;
}

.player-control-shuffle-repeat {
    width: 15px;  
    z-index: 1;
}

.player-control-prev-next, .player-control-shuffle-repeat {
    opacity: 0.6;
    transition: 0.2s ease;

}
.player-control-prev-next:hover, .player-control-shuffle-repeat:hover {
    opacity: 1;
}

.repeat-active, .shuffle-active { 
    position: absolute;
    bottom: 0px;
    width: 4px;
    opacity: 0;
}

.shuffle-active {
    left: 5px;
}

.repeat-active {
    right: 6px;
}
