/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
  }
  
/* 
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
 */
 @font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/AvenirLTStd-Heavy.otf);
    font-weight: 600;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/Gotham-Bold.otf);
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/Gotham-Black.otf);
    font-weight: 800;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/AvenirLTStd-Medium.otf);
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: Gotham;
    src: url(./font/Gotham-Font/GothamLight.ttf);
    font-weight: 300;
    font-style: normal; 
}
html {
    background-color: #181818;
    font-family: Gotham;
    color:white;
    font-stretch: ultra-condensed;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    
    

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}
html * {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
    transition: 0.2s ease;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    transition: 0.2s ease;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #4d4d4d; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080; 
}


#root {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        'left-sidebar main right-sidebar'
        'now-playing now-playing now-playing';
    grid-template-columns: 200px auto 250px; 
    grid-template-rows: auto 90px;  
}

#root__top-container {
    height: 60px;
    display: flex;
    top: 0px;
    margin: 0 -32px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background-color: rgba(142, 128, 86, 0.35); */
    overflow-x: hidden;
    z-index: 10;
}

#root__top__move-action {
    margin-left: 32px;
}
#root__top__move-action * {
    width: 32px;
    opacity: 0.7;
    cursor: not-allowed;
}

.root__top__move-action__next {
    transform: rotate(180deg);
    margin-left: 12px;
}

#root__top__add-play-btn {
    display: flex;
    align-items: center;
}
#root__top__add-play-btn__play-btn {
    width: 40px;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    opacity: 0;
    transition: 33ms ease;
}
#root__top__add-play-btn__playlist-name {
    font-size: 24px;
    line-height: 28px;
    opacity: 0;
    transition: 0.5s ease;
}

#root__top__user {
    border-radius: 23px;
    height: 28px;
    min-width: 98px;
    background-color:#12110c;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    cursor: pointer;
}
#root__top__user:hover {
    background-color: #282828;
}

#root__top__user__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

#root__top__user__name {
    color: white;
    line-height: 28px;
    font-weight: 700;
}

#root__top__user__drop-icon {
    width: 18px;
    margin-right: 6px;
}

.root__top__user__drop-bar {
    position: fixed;
    top: 55px;
    background-color: #282828;
    width: 196px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px black; 
}

.drop-bar-item {
    padding: 12px;
    color: white;
}

.drop-bar-item span {
    line-height: 16px;
    font-weight: 500;
}

.drop-bar-item:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.drop-bar-item:nth-child(1) > img {
    width: 16px;
}

#root__left-sidebar {
    background-color: #000000;
    grid-area: left-sidebar;
    display: flex;
    flex-direction: column;
    color: #b3b3b3;
}

#root__left-sidebar__logo {
    width: 70%;
    max-width: 131px;
    margin: 24px;
    cursor: pointer;
}

#root__left-sidebar__navigation {
    padding: 0px 8px;
}

#root__left-sidebar__navigation > li {
    padding: 0 16px;
    height: 40px;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.2s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#root__left-sidebar__navigation .current {
    opacity: 1;
    color: white;
    background-color: #282828;
}

#root__left-sidebar__navigation > li:hover {
    opacity: 1;
    color: white
}

 #root__left-sidebar__navigation > li > img {
     width: 18px;
     margin-right: 20px;
     opacity: 0.9;
 }

 #root__left-sidebar__action { 
     margin-top: 24px;
 }

 #root__left-sidebar__action > li {
     padding: 8px 24px;
     height: 40px;
     opacity: 0.9;
     transition: 0.2s linear;
     cursor: pointer;
     display: flex;
     align-items: center;
 }

 #root__left-sidebar__action > li:hover {
     opacity: 1;
     color:white;
 }

 #root__left-sidebar__action > li > img {
    width: 24px;
    margin-right: 16px;
    opacity: 0.9;
}

#root__left-sidebar__dashline {
    position: relative;
    padding: 0 24px;
    height: 9px;
    box-shadow: 0 10px 15px black;
}

#root__left-sidebar__dashline > hr{

    background-color: #282828;
    border: none;
    height: 1px;
}

#root__left-sidebar__my-playlists {
    overflow: auto;
    width: 100%;
    height: 295px;
    padding: 8px 0px;
    z-index: 1;
}

#root__left-sidebar__my-playlists .my-playlist {
    font-family: Gotham, sans-serif;
    line-height: 32px;
    margin-left: 24px;
    font-weight: 500;
    font-size: 14px;
    cursor: default;
}

#root__left-sidebar__my-playlists .my-playlist:hover {
    opacity:1;
    color:white;
}

#root__main-view {
    grid-area: main;
    padding: 24px 32px 0px;
    overflow: overlay;
    background-image: linear-gradient(rgba(142, 128, 86, 0.35) 0%, #121212 15%);
    background-attachment: local;
    z-index: 1;
    /* transition: 0.3s linear; */
}
#root__main-view::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 1); 
}
#root__main-view__currently-playing {
    margin-top: 60px;
    margin-bottom: 36px
}

#root__main-view__currently-playing .greeting {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

#root__main-view__currently-playing__playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px ,1fr));
    grid-template-rows: 80px 80px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    margin-top: 16px;
}

#root__main-view__currently-playing__playlists > .current-playlist {
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    position: relative;
    transition: .3s ease
}

#root__main-view__currently-playing__playlists > .current-playlist > img {
    width: 80px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;  
    overflow: hidden;
    text-overflow:ellipsis;
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now {
    margin-left: 8px;
    height: 40px;
    opacity: 0;
    transition: opacity 300ms;
    z-index: 1;
}

#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now:hover, .playing:hover {
    transform: scale(1.05);
}
#root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now-shadow {
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    position: absolute;
    right: 16px;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 300ms;

}

.playing {
    right: 15px;
    height: 40px;
    opacity: 0;
    position: absolute;
}
.playing-shadow {
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    position: absolute;
    right: 16px;
    border-radius: 50px;
    opacity: 0;
}
.root__main-view__recently-playing {
    margin-bottom: 50px;
}
.root__main-view__recently-playing > .introduction {
    margin-bottom: 20px;

}

.root__main-view__recently-playing > .introduction > .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    color: white;
    text-decoration: none !important;
}

.root__main-view__recently-playing > .introduction > .description  {
    font-size: 14px;
    font-weight: 600;
    color: #afafaf;
    display: block;
}

.root__main-view__recently-playing > .introduction > .description > a {
    text-decoration: none;
    font-size: 12px;
    color: #afafaf;
    display: block;
    float: right;
    text-transform: uppercase;
}

.root__main-view__recently-playing > .introduction > .title:hover, .root__main-view__recently-playing > .introduction > .description > a:hover {
    text-decoration: underline;
}

.playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    grid-gap: 24px;
    grid-template-rows: 1fr; 
    grid-auto-rows: 0; 
    overflow-y: hidden;
}

.playlists > .playlist {
    padding: 16px;
    height: auto;
    background-color: #181818;
    cursor: pointer;
    transition: 0.3s ease;
}

.playlists > .playlist:hover {
    background-color: #272727;
}

.playlists > .playlist > img {
    border-radius: 12px;
    margin-bottom: 16px;
}

.playlists > .playlist > .playlist__description > .playlist__description__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.playlists > .playlist > .playlist__description > .playlist__description__artist {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
    display: block;
    color: #afafaf;
}


#root__right-sidebar {
    grid-area: right-sidebar;
    background-color: #12110c;
    padding: 16px;
    transform: translateX(0%);
}

#root__right-sidebar__friend-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#root__right-sidebar__friend-activity > span {
   font-size: 15px;
}

#root__right-sidebar__users {
    margin-top: 48px;
}

.root__right-sidebar__user {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.root__right-sidebar__user > img {
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;
    /* border: 1px solid red */
}

.root__right-sidebar__user__user-content {
    color: #afafaf;
    min-width: 170px;
    display: block;
    /* border: 1px solid red; */
}

.root__right-sidebar__user__user-content > .user-name-and-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.root__right-sidebar__user__user-content > .user-name-and-activity > .user-name {
    font-size: 13px;
    line-height: 24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.user-music__song {
    display: flex;
    align-items: center;
}
.user-music__song__name {
    /* border: solid 2px blue; */
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    display: block;
    overflow: hidden;
    line-height: 20px
    /* border: 1px solid red; */
}
.user-music__song__artist {
    /* border: solid 2px blue; */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* min-width: 20px; */
    display: block;
    overflow: hidden
}

.root__right-sidebar__user__user-content > .user-name-and-activity > .user-activity > img {
    width: 12px;
}

.root__right-sidebar__user__user-content > .user-music, .root__right-sidebar__user__user-content > .user-name-and-activity > .user-activity {
    font-size: 11px;
    font-weight: 500;
}

.root__right-sidebar__user__user-content > .user-music > .user-music__song  img {
    width: 4px;
    margin: 4px; 
}

.root__right-sidebar__user__user-content > .user-music > .user-music__owner > img {
    width: 16px;
    position: relative;
    top: 3px;
    margin-right: 2px;
    color: #f01919;
}   

#root__now-playing {
    background-color: #181818;
    grid-area: now-playing;
    padding: 0 24px;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    bottom: 0;
    flex: 1 1;
    z-index: 5;

}
#root__now-playing__header {
    display: none;
}

#root__now-playing__song {
    display: flex;
    width: 30%;
    align-items: center;
    /* border: 1px solid green; */
}

#root__now-playing__song__img {
    width: 56px;
}
#root__now-playing__song__content {
    display: flex;
    align-items: center;
}
#root__now-playing__song__info {
    margin: 0 14px;
    font-weight: 500;    
    max-width: 300px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    height: 32px;
}

#root__now-playing__song__info__name {
    line-height: 22px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

#root__now-playing__song__info__artist {
    font-size: 11px;
    color: #afafaf;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

#root__now-playing__song__favorite {
    width: 14px;
    margin: 8px;
}

#root__now-playing__song__overlay {
    width: 16px;
    margin: 8px;
}

#root__now-playing__player-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    /* border: 1px solid red; */
}

#root__now-playing__player-control__playback-bar__range-slider {
    background: #535353;
    border-radius: 8px;
    height: 4px;
    width: 100%;
    outline: none;
    transition: 450ms ease-in;
    -webkit-appearance: none;
    margin: 0 10px;
}

#root__now-playing__player-control__playback-bar__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

#root__now-playing__player-control__playback-bar {
    font-size: 11px;
    font-weight: 400;
    color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
    width: 100%;
}


#root__now-playing__player-control__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
}
#root__now-playing__player-control__buttons img {
    margin: 0 12px;
}

.player-control-play-pause {
    width: 32px;
    transition: 0.1s ease;
}
.player-control-play-pause:hover {
    transform:scale(1.1)
}

.player-control-prev-next {
    width: 10px;
}
#shuffle, #repeat {
    /* border: 1px solid red; */
    position: relative;
}
.player-control-shuffle-repeat {
    width: 15px;  
    z-index: 1;
}

.player-control-prev-next, .player-control-shuffle-repeat {
    opacity: 0.6;
    transition: 0.2s ease;

}
.player-control-prev-next:hover, .player-control-shuffle-repeat:hover {
    opacity: 1;
}

.repeat-active, .shuffle-active { 
    position: absolute;
    bottom: -8px;
    width: 3px;
    opacity: 1;
    left: 5px;
}

.shuffle-active {
    left: 5px;
}

.repeat-active {
    right: 6px;
}

#root__now-playing__media-control {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    /* border: 1px solid green; */
}

.media-control, .volume-btn {
    width: 16px;
    margin: 8px;
    opacity: 0.7;
    transition: 0.2s ease;
}

.media-control:hover, .volume-btn:hover {
    opacity: 1;
}

#root__now-playing__media-control__volume-bar {
    display: flex;
    align-items: center;
}

#root__now-playing__media-control__volume-bar__range-slider {
    background: #535353;
    border-radius: 8px;
    height: 4px;
    width: 93px;
    outline: none;
    transition: 450ms ease-in;
    -webkit-appearance: none;
    margin: 0 0px;
}

#root__now-playing__media-control__volume-bar__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}



#responsive-menu, #responsive-friends {
    display: none;
}
#responsive-friends__profile {
    display: none;
}

#on-open-playlist {
    display: none;
    height: 100%;
    background-color: white;
    /* display: block; */
    z-index: 3;
    position: absolute;
    overflow: overlay;
    box-sizing: border-box;
    /* background-image: linear-gradient(#a19263, #181818 600px); */
    background-attachment: local;
    /* border: 5px solid yellow; */
}
#on-open-playlist__return-home {
    display: none;
}
#on-open-playlist__header {

    padding: 80px 32px 24px;
    display: flex;
    align-items: flex-end;
}
#on-open-playlist__header__img {
    width: 232px;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    margin-right: 24px;
}
#on-open-playlist__header__title {
    /* max-width: 702px; */
    /* border: 1px solid red; */
    width: 100%;
    /* overflow: auto; */
}
#on-open-playlist__header__title__type{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
#on-open-playlist__header__title__name {
    padding: 7.680px 0;
    font-size: 90px;
    /* white-space: nowrap; */
    line-height: 96px;
    display: inline-block;
    /* border: 1px solid blue; */
    /* width: auto; */
    /* word-break: break-word; */
    /* overflow-wrap: break-word; */
    /* display: inline-block; */
    /* position: relative; */
}

#on-open-playlist__header__title__playlist-info {
    margin-top: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
#on-open-playlist__header__title__playlist-info__img {
    width: 24px;
    border-radius: 50%;
    margin-right: 4px;
}
#on-open-playlist__header__title__playlist-info__owner > span {
    color: rgb(179, 179, 179);
}
#on-open-playlist__body__btns {
    padding: 24px 32px;
    display: flex;
    align-items: center;

}

#on-open-playlist__body {
    background-color: rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
    color:rgb(179, 179, 179);
    font-weight: 400;
    padding-bottom:120px;
    /* margin-bottom: 60px; */
    
}
#on-open-playlist__body__btns__play {
    width: 56px;
    margin-right: 36px;
}

#on-open-playlist__body__btns__see-more {
    width: 24px;
    opacity: 0.6;
}
#on-open-playlist__body__table {
    padding: 0 32px;
}
#position-fixed-header {
    height: 36px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
#on-open-playlist__body__btns__play:hover, #root__top__add-play-btn__play-btn:hover {
    transform: scale(1.05);
}

#on-open-playlist__body__table__header {
    padding: 0 16px;
    display: grid;
    grid-template-columns: 16px minmax(0, 4fr) minmax(0, 3fr) 1.5fr 1.5fr;
    grid-gap: 16px;
    height: 36px;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    font-size: 12px; 
    /* border: 1px solid red; */
}
.play-this-song {
    display: none;
    width: 16px;
}
.number {
    /* border: 1px solid green; */
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title {
    /* border: 1px solid green; */
    display: flex;
}
.title > img {
    width: 40px;
    margin-right: 16px;
}

.title > .song-info {
    /* border: 1px solid green; */
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}


.title > .song-info > .song-info__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.title > .song-info > .song-info__artist {
    /* border: 1px solid red; */
    line-height: 16px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;

}
.album {
    /* border: 1px solid green; */
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    
}
.date {
    /* border: 1px solid green; */
}
.more {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more > img {
    width: 16px;
}
#more {
    /* border: 1px solid red; */
    justify-content: space-around;
    /* margin-right: 55px; */
}
.more > .more__favorite {
    width: 16px;    
}
.more__icon {
    width: 16px;
    opacity: 0;
}
.song {
    display: grid;
    grid-template-columns: 16px minmax(0, 4fr) minmax(0, 3fr) 1.5fr 1.5fr;
    grid-gap: 16px;
    padding: 0 16px;
    width: 100%;
    align-items: center;
    height: 54px;
    /* border: 1px solid red; */
    border-radius: 4px;
    /* background-color: red; */
}
.song:first-child {
    margin-top: 16px;
}


.slideToLeft {
    animation: slideToLeft linear 0.3s forwards; 
}
@keyframes slideToLeft {
    from {
        /* display: none; */
        transform: translateX(100%);
    }
    to {
        /* display: block; */
        transform: translateX(0%);
    }
}



.reverseSlideToLeft {
    animation: reverseSlideToLeft linear 0.3s forwards; 
}
@keyframes reverseSlideToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}


@media (max-width: 1279px) {
    #on-open-playlist__header__img {
        width: 192px;
    }
    .date {
        display: none;
    }
    #on-open-playlist__body__table__header {
        grid-template-columns: 16px minmax(0, 6fr) minmax(0, 3fr) 1.5fr;
    }
    .song {
        grid-template-columns: 16px minmax(0, 6fr) minmax(0, 3fr) 1.5fr;
    }
    
}

/* large tablets and small pcs */
@media (max-width: 1115px) and (min-width: 1000px) {
    #root {
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
        grid-template-columns: 200px auto 0;
    }
    #root__main-view {
        overflow-x: hidden;
    }
    #root__top-container {
        position: absolute;
        top: 0;
        background-color: transparent;
    }
  
    #root__top__user {
        display: none;
    }
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now,
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now-shadow, .playing, .playing-shadow {
        display: none;
    }



    #root__right-sidebar__friend-activity {
        margin-top: 80px;
    }
    #root__right-sidebar__users {
        margin-top: 30px;
    }
    #root__right-sidebar {
        position: fixed;
        z-index: 1;
        top: 0px;
        right: 0px;
        width: 250px;
        height: 100%;
        transform: translateX(100%);
    }
    #root__main-view__responsive-nav {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 40px;
    }
    #responsive-friends {
        display: block;
        width: 30px;
    }
    #responsive-friends__profile {
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 90%;
    }
    #responsive-friends__profile > img {
        width: 48px;
        border-radius: 50%;
        margin-right: 10px;
    }
    #responsive-friends__profile > .user > .name {
        font-size: 13px;
        line-height: 24px;
    }
    #responsive-friends__profile > .user > .view-profile {
        font-size: 10px;
        font-weight: 300;
        color: rgb(175, 175, 175);
    
    }
    #responsive-friends__profile > .setting {
        width: 16px;
        position: absolute;
        right: 0;
    }



    .playlists {
        grid-template-columns: repeat(5, 200px);  
        grid-template-rows: 1fr;
        grid-gap: 15px;
        height: 100%;
    }
    .playlists::-webkit-scrollbar {
        display: none;
    }

    .playlist__description__title {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }



     #root__now-playing {
        justify-content: space-between;
    }
    #root__now-playing__song__overlay {
        display: none;
    }
    .list, .remote, .fullscreen {
        display: none;
    }


    /* #on-open-playlist__header__title__name {
        font-size: 90px;
    } */
}


/* small tablets and large phones */
@media  (max-width:999px) {
    #root {
        overflow-y: hidden;
        overflow-x: hidden;
        grid-template-columns: 0 auto 0;
    }

    #root__top-container {
        display: none;
    }
    #root__top__add-play-btn__playlist-name, #root__top__add-play-btn__play-btn {
        display: none;
    }
    #root__main-view {
        padding: 10px;
        overflow-x: hidden;
    }
    #root__main-view__currently-playing {
        margin-top: 20px;
    }


    #root__main-view__responsive-nav {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 10px;
        margin-top: 0px;
        width: 100%;
    }
    #responsive-friends {
        display: block;
        width: 30px;
    }
    #root__right-sidebar {
        position: fixed;
        z-index: 1;
        top: 0px;
        right: 0px;
        width: 250px;
        height: 100%;
        transform: translateX(100%);
    }
    #root__right-sidebar__friend-activity {
        margin-top: 80px;
    }
    #root__right-sidebar__users {
        margin-top: 30px;
    }
    #root__right-sidebar {
        position: fixed;
        z-index: 1;
        top: 0px;
        right: 0px;
        width: 250px;
        height: 100%;
        transform: translateX(100%);
    }
    #root__main-view__responsive-nav {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 10px;
    }
    #responsive-friends {
        display: block;
        width: 30px;
    }
    #responsive-friends__profile {
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 90%;
    }
    #responsive-friends__profile > img {
        width: 48px;
        border-radius: 50%;
        margin-right: 10px;
    }
    #responsive-friends__profile > .user > .name {
        font-size: 13px;
        line-height: 24px;
    }
    #responsive-friends__profile > .user > .view-profile {
        font-size: 10px;
        font-weight: 300;
        color: rgb(175, 175, 175);
    
    }
    #responsive-friends__profile > .setting {
        width: 16px;
        position: absolute;
        right: 0;
    }




    #root__left-sidebar {
        position: fixed;
        z-index: 10;
        bottom: 0;
        width: 100%;
        height: 35px;
    }
    #root__left-sidebar__logo, #root__left-sidebar__action,
    #root__left-sidebar__dashline, #root__left-sidebar__my-playlists {
        display: none;
    }
    #root__left-sidebar__navigation {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    #root__left-sidebar__navigation .current {
        background-color: transparent;
    } 
    #root__left-sidebar__navigation > li  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        border-radius: 0px;
        width:100%;
    }
    #root__left-sidebar__navigation > li:nth-child(2) {
        border-left: 1px solid #383838;
        border-right: 1px solid #383838;
    }  
    #root__left-sidebar__navigation > li > img {
        position: relative;
        display:block;
        margin:auto;
         width: 18px;
         margin-bottom: 4px;
         opacity: 0.9;
     }
     #root__left-sidebar__navigation > li > span {
        display: none; 
     }



    #root__main-view__currently-playing__playlists > .current-playlist > img {
        width: 50px;
    }
    #root__main-view__currently-playing__playlists {       
        grid-template-columns: repeat(auto-fill,minmax(250px ,1fr));
        grid-template-rows: 50px 50px 50px;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content {
        padding: 8px;
        
    }
    .playlists {
        grid-template-columns: repeat(5, 130px);  
        grid-template-rows: 180px;
        grid-gap: 15px;
        height: 100%;
    }
    .playlists > .playlist {
        height: 100%;
    }
    .playlists::-webkit-scrollbar {
        display: none;
    }
    .playlists > .playlist > img {
        margin-bottom: 10px;
    }
    .playlist__description__title {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }



    #root__now-playing {
        bottom: 40px;
        padding: 0 10px;
        height: 50px;
        width: 97%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #383838;
        border-radius: 5px;
    }

    #root__now-playing__media-control {
        display: none;
    }
    #root__now-playing__song {
        width: 90%;
        height: 100%;
    }
    #root__now-playing__song__img {
        width: 32px;
    }
    #root__now-playing__song__content {
        justify-content: space-between;
        width: 100%;
    }
    #root__now-playing__player-control {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 100%;
    }
    #root__now-playing__player-control__playback-bar {
        position: absolute;
        bottom: 0;
    }
    #root__now-playing__player-control__buttons {
        position: absolute;
        height: 100%;
        right: 0;
    }
    .player-control-shuffle-repeat, .shuffle-active, .player-control-prev-next, #root__now-playing__player-control__playback-bar__minutes-played, #root__now-playing__speed-control__playback-bar__minutes-total {
        display: none;
    }
    #root__top__move-action:last-child {
        display: none;
    }   
    
    

    #root, #root__left-sidebar__my-playlists .my-playlist, 
    .playlists > .playlist > .playlist__description > .playlist__description__artist, 
    #root__right-sidebar__friend-activity > span, .root__right-sidebar__user__user-content > .user-name-and-activity > .user-name,
    .root__right-sidebar__user__user-content > .user-music, .root__right-sidebar__user__user-content > .user-name-and-activity > .user-activity {
        font-size: 10px
    }
    .root__main-view__recently-playing > .introduction > .description, 
    .root__main-view__recently-playing > .introduction > .description > a {
        font-size: 12px;
    }
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > span, #root__top-container {
        font-size: 14px;
    }
     
    .root__main-view__recently-playing {
        margin-bottom: 20px;
    }

    .playlists > .playlist > .playlist__description > .playlist__description__title {
        font-size: 12px;
        line-height: 16px;
    }
    .playlists > .playlist > .playlist__description > .playlist__description__artist {
        font-size: 10px;
    }
    .root__main-view__recently-playing > .introduction > .title,  #root__main-view__currently-playing .greeting {
        font-size: 18px
    }
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now, 
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > .play-now-shadow,
    .playing, .playing-shadow {
        display: none;
    }   
    #root__now-playing__song__overlay {
        display: none;
    }

    #on-open-playlist {
        padding: 10px;
    }
    #on-open-playlist__return-home {
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 30px;
    }
    #on-open-playlist__body {
        background-color: transparent;
    }
    #on-open-playlist__header, #on-open-playlist__body__btns, #on-open-playlist__body__table {
        padding-left: 0;
        padding-right: 0;
    }
    #on-open-playlist__body__table__header {
        grid-template-columns: 16px minmax(0, 6fr) minmax(0, 3fr) 1fr;
        padding: 0;
    }
    #more {
        /* border: 1px solid red; */
        justify-content: flex-start;
        /* margin-right: 55px; */
    }

    .song {
        grid-template-columns: 16px minmax(0, 6fr) minmax(0, 3fr) 1fr;
        font-size: 14px;
        padding: 0px;
    }
    .more__time {
        display: none;
    }
}   

@media (max-width:767px){
    #root__main-view__currently-playing__playlists {
        grid-template-columns: repeat(auto-fill,minmax(200px ,1fr));
    }
    #on-open-playlist__header__img {
        width: 40vw;
        margin: 0;
    }
    #on-open-playlist__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    #on-open-playlist__header__title__name {
        line-height: 20px;
        /* font-size: 50px; */
        margin: 20px 0 10px;
    }
    #on-open-playlist__header__title__type {
        display: none;
    }
}


@media (max-width: 650px) {
    #on-open-playlist__return-home {
        width: 20px;
    }
    #on-open-playlist__header__title__name {
        line-height: 20px;
        /* font-size: 50px; */
        margin: 10px 0 0 0;
    }
    #on-open-playlist__body__btns {
        padding: 10px 0;
    }
    #position-fixed-header, .album {
        display: none;
    }
    .more__icon {
        opacity: 1;
    }
    .song {
        grid-template-columns: 16px minmax(0, 6fr) 1fr;
    }
    .song:first-child {
        margin: 0;
    }
}


@media (max-width:450px){
    #root__main-view__currently-playing__playlists {
        grid-template-columns: repeat(auto-fill,minmax(150px ,1fr));
    }

}



@media (max-width:350px){
    #root__main-view {
        width: 100vw;
    }
    #root__main-view__currently-playing {
        margin-top: 40px;
    }
    #root__main-view__currently-playing__playlists {
        grid-template-columns: repeat(auto-fill,minmax(120px ,1fr));
        grid-template-rows: 50px 50px 50px;
    }
    #root__main-view__currently-playing__playlists > .current-playlist > .current-playlist__content > span {
        font-size: 10px;
        list-style: none;
    }
    .root__main-view__recently-playing > .introduction {
        height: 50px;
    }
    .root__main-view__recently-playing > .introduction > .title {
        font-size: 16px;
        line-height: 16px;
    }
    .playlists {
        grid-template-columns: repeat(5, 100px);  
        grid-template-rows: 150px;
        grid-gap: 15px;
        /* border: 1px solid red; */
        height: 100%;
    }
    #root__now-playing {
        width: 97vw;
    }
    .song {
        grid-template-columns: 10px minmax(0, 6fr) 1.5fr;
        height: auto;
    }

    .title {
        align-items: center;
        
    }
    .title > img {
        width: 32px;
        height: 32px;
    }
    #on-open-playlist__header__title__playlist-info__owner {
        font-size: 10px;
    }
    .title > .song-info > .song-info__name, .number {
        font-size: 14px;
        /* border: 1px solid red; */
    }
    .title > .song-info > .song-info__artist {
        font-size: 12px
    }
}


