    #root__now-playing {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 4;
        padding: 10px 10px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
    }
    #root__now-playing * {
        box-sizing: border-box;
    }
    #root__now-playing__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    #root__now-playing__header__playlist {
        font-size: 20px;
    }
    
    #root__now-playing__song {
        display: block;
        width: 100%;
        height: auto;
    }
    
    #root__now-playing__song__img {
        width: 40vh;
        display: block;
        margin: 20px auto;
        box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

    }
    #root__now-playing__song__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #root__now-playing__song__info {
        margin: 0;
        max-width: 100%;
        display: block;
        
    }
    #root__now-playing__song__info__name{
        line-height: 40px;
        font-size: 28px;
        font-weight: 600;
    }
    #root__now-playing__song__info__artist {
        font-size: 20px;
    }
    #root__now-playing__song__favorite {
        width: 30px;
        display: block;
    }
    #root__now-playing__player-control {
        margin-top: 20px;
        display: block;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        height: 130px;
        padding: 0;
    }
    #root__now-playing__player-control * {
        display: block;
        opacity: 1;
    }

    .media-control {
        margin: 0px;
    }
    #root__now-playing__player-control__buttons  {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        height: auto;
        margin: 0;
    }

    .player-control-play-pause {
        width: 60px;
        transition: 0.1s ease;
    }
    
    .player-control-prev-next {
        width: 35px;
    }
    
    .player-control-shuffle-repeat {
        width: 40px;  
        z-index: 1;
    }

    .repeat-active, .shuffle-active {
        position: absolute;
        bottom: -15px;
        width: 6px;
        left: 15px;
    }
    
    #root__now-playing__player-control__playback-bar {
        display: block;
        position: relative;
        width: 100%;
        display: flex;
    }
    #root__now-playing__player-control__playback-bar__range-slider {
        background: #535353;
        border-radius: 8px;
        height: 6px;
        width: 100%;
        outline: none;
        position: relative;
        left: 0;
        top: 0;
        -webkit-appearance: none;
        margin: 0;
        order: 1;
    }
    #root__now-playing__player-control__playback-bar__range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
        cursor: default;
      }
    #root__now-playing__player-control__playback-bar__minutes-played, 
    #root__now-playing__speed-control__playback-bar__minutes-total {
        font-size: 20px;
        position: absolute;
        width: auto;
        order: 2;
        top: 15px;
    }
    
    #root__now-playing__speed-control__playback-bar__minutes-total {
        right: 0;
    }
    #root__now-playing__media-control {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    #root__now-playing__media-control * {
        width: 25px;
    }
    #root__now-playing__media-control__volume-bar, .fullscreen {
        display: none;
    }
    #root__left-sidebar {
        display: none;
    }

    @media (max-width: 600px) {
        #root__now-playing {
            text-overflow: hidden;
        }
        #root__now-playing__header__playlist {
            font-size: 15px;
        }
        #root__now-playing__header__minimize, #root__now-playing__header__see-more {
            width: 20px
        }
        #root__now-playing__song {
            display: block;
            width: 100%;
            height: auto;
        }
        #root__now-playing__player-control {
          
            height: 90px;
        }
        .player-control-play-pause {
            width: 45px;
        }
        
        .player-control-prev-next {
            width: 20px;
        }
        
        .player-control-shuffle-repeat {
            width: 25px;  
            z-index: 1;
        }
        .shuffle-active, .repeat-active {
            left: 9px;
        }
        #root__now-playing__media-control {
            padding: 5px;
        }
        #root__now-playing__media-control * {
            width: 20px;
        }
        #root__now-playing__song__info__name{
            line-height: 35px;
            font-size: 18px;
            font-weight: 600;
        }
        #root__now-playing__song__info__artist {
            font-size: 14px;
            position: absolute;
        }
        #root__now-playing__song__favorite {
            width: 20px;
            display: block;
        }
        #root__now-playing__player-control__playback-bar__minutes-played, 
        #root__now-playing__speed-control__playback-bar__minutes-total {
            font-size: 12px;
            top: 12px;
        }
    
    }